//@import 'https://fonts.googleapis.com/css?family=PT+Sans:400,700&subset=cyrillic';

// GENERAL TAGS
ul{
  list-style-type: none;
  padding: 0;
  margin: 0;
  li{
    display: inline-block;
  }
}
a{
  color: inherit;
  &:hover, &:focus{
    color: @yellow;
  }
}
html{
  // overflow-x: hidden;
}
body{
  // padding: 0 20px;
  background-color: @gray-light;
  color: @gray;
  font-size: 16px;
  font-family: 'PT Sans', sans-serif;
  @media screen and (max-width: @mobile){
    padding: 0;
  }
  // overflow-x: hidden;
}

h1,h2,h3,h4,h5,h6{
  text-transform: uppercase;
  margin: 0;
  @media screen and (max-width: @mobile){
    letter-spacing: 2px;
    line-height: 1.1;
  }
}
section{
  margin-bottom: 40px;
  position: relative;
  // overflow-x: hidden;
}
img{
  max-width: 100%;
}
input{
  border-radius: 0;
  box-shadow: none;
  outline:none;
  &:focus{
    box-shadow: none;
    outline:none;
  }
}
header{
  position: fixed;
  z-index: 1001;
  top: 0;
  left: 0;
  width: 100%;
}
main{
  overflow-x: hidden;
  padding: 0 20px;
  @media screen and (max-width: @mobile){
    padding: 0;
  }
}
footer{
  background-color: #fff;
  padding: 60px 0 70px;
  font-size: 12px;
  // margin-left: -20px;
  // margin-right: -20px;
  @media screen and (max-width: @mobile){
    margin: 0;
    padding: 40px 60px;
    padding-right: 30px;
    font-size: 14px;
  }
  li{
    display: block;
    margin-bottom: 10px;
  }
  br{
    @media screen and (max-width: @mobile){
      display: none;
    }
  }
  .logo{
    display: block;
    padding: 0;
    padding-left: 20px;
    @media screen and (max-width: @mobile){
      margin-bottom: 20px;
    }
  }
  .phone, .email{
    margin: 0;
  }
  .socials div{
    vertical-align: top;
    margin-right: 5px;
    @media screen and (max-width: @mobile){
      margin-top: 20px;
      margin-bottom: 20px;
    }
  }
  .site-map{
    @media screen and (max-width: @mobile){
      display: none;
    }
  }
}
.mobile-logo{
  display: none;
  margin-bottom: 20px;
  @media screen and (max-width: @mobile){
    display: block;
  }
}
//General Classes
.cyan{
  color: @cyan;
  &:hover{
    color: @cyan;
  }
}
.magenta{
  color: @magenta;
  &:hover{
    color: @magenta;
  }
}
.yellow{
  color: @yellow;
  &:hover{
    color: @yellow;
  }
}
.trall{
  transition: all 300ms cubic-bezier(0.55, 0.06, 0.68, 0.19);
}
.btn{
  border: 0;
  box-shadow: 0;
  border-radius: 0;
  outline: none;
  appearance: none;
  text-transform: uppercase;
  color: white;
  font-size: 16px;
  width: 300px;
  padding: 20px 0;
  margin-bottom: 7px;
  &:extend(.trall);
  @media screen and (max-width: @mobile){
    width: 100%;
  }
  &--yellow{
    background-color: @yellow;
    &:hover{
      background-color: @yellow-dark;
    }
  }
  &--magenta{
    background-color: @magenta;
    &:hover{
      background-color: @magenta-dark;
    }
  }
  &--cyan{
    background-color: @cyan;
    &:hover{
      background-color: @cyan;
    }
  }
}
.input-text{
  background-color: transparent;
  border: 0;
  box-shadow: 0;
  outline:none;
  border-bottom: 2px solid white;
  color: white;
  @media screen and (max-width: @mobile){
    border-color: @gray;
  }
}
.logo{
  padding-left: 30px;
  padding-top: 40px;
  z-index: 1001;
  &>div{
    position: relative;
  }
  #logo-element{
    transition: transform 300ms;
    transform: scale(1);
    transform-origin: 50% 50%;
    &.out{
      transform: scale(0);
    }
    &.in{
      transform: scale(1);
    }
  }
  @media screen and (max-width: @mobile){
    display: none;
  }
}
.block-content{
  max-width: 1024px;
  margin: auto;
}
.svg-sprite--logo{
  position: relative;
  z-index: 1001;
  &+#logo-element{
    position: absolute;
    // bottom: 0;
    // left: 0;
  }
  &+#logo-element.svg-sprite--symbols-01{
    bottom: 20px;
    left: 26px;
    z-index: 1002;
  }
  &+#logo-element.svg-sprite--symbols-02{
    bottom: 12px;
    left: 35px;
    z-index: 1002;
  }
  &+#logo-element.svg-sprite--symbols-03{
    bottom: 15px;
    left: 33px;
    z-index: 1002;
  }
  &+#logo-element.svg-sprite--symbols-04{
    bottom: 17px;
    left: 26px;
    z-index: 1000;
  }
  &+#logo-element.svg-sprite--symbols-05{
    bottom: 12px;
    left: 24px;
    z-index: 1000;
  }
  &+#logo-element.svg-sprite--symbols-06{
    bottom: 4px;
    left: 29px;
    z-index: 1000;
  }
  &+#logo-element.svg-sprite--symbols-07{
    bottom: 6px;
    left: 26px;
    z-index: 1000;
  }
  &+#logo-element.svg-sprite--symbols-08{
    bottom: 13px;
    left: 24px;
    z-index: 1000;
  }
  &+#logo-element.svg-sprite--symbols-09{
    bottom: 15px;
    left: 24px;
    z-index: 1000;
  }
  &+#logo-element.svg-sprite--symbols-10{
    bottom: 17px;
    left: 29px;
    z-index: 1000;
  }
}
.menu{
  // position: fixed;
  // top: 0;
  z-index: 1000;
  font-size: 12px;
  text-transform: uppercase;
  // padding-top: 35px;
  padding-right: 80px;
  
  width: ~"calc(100% / 12 * 11 - 40px)";
  display: inline-flex;
  justify-content: space-between;
  color: white;
  &:extend(.trall);
  @media screen and (max-width: @mobile){
    display: none;
  }
  .active{
    color: @yellow;
    // border-top: 5px solid @yellow;
    &:before{
      height: 5px;
    }
  }
  // a{
  //   width: 15%;
  //   display: inline-block;
  // }
  li{
    transition: all 200ms;
    position: relative;
    &:hover{color: @yellow;}
    &:before{
      content: '';
      transition: all 300ms;
      display: block;
      position: absolute;
      height: 0px;
      width: 100%;
      background-color: @yellow;
      top: 0;
      left: 0;
    }
  }
  a{
    padding-top: 35px;
    padding-bottom: 15px;
    display: inline-block;
    transition: all 200ms;
  }
  &.dark{
    background-color: rgb(53, 53, 53);
    box-shadow: 0px 6px 5px 0px rgba(0, 0, 0, 0.17);
    // padding-top: 20px;
    a{
      padding-top: 20px;
      max-height: 52px;
    }
  }
}
.full-bg{
  background-position: 50% 50%;
  background-size: cover;
  background-repeat: no-repeat;
}
.clearfix{
  clear: both;
}

//BOOTSTRAP RESET
.row{
  margin: 0;
  padding: 0;
}

//OWL CAROUSEL CUSTOMIZE
.owl-carousel{
  position: relative;
}
.owl-nav{
  position: absolute;
  bottom: 0;
  left: 0;
  &>div{
    width: 50px;
    height: 50px;
    background-color: @yellow;
    padding: 15px 20px;
    &:extend(.trall);
    &:hover{
      background-color: @yellow-dark;
    }
    &>div{
      width: 15px;
      height: 15px;
      border-bottom: 2px solid white;
      border-left: 2px solid white;
      transform: rotate(45deg);
      transform-origin: 50% 50%;
    }
  }
  .owl-next{
    padding-left: 13px;
    &>div{
      transform: rotate(-135deg);
    }
  }
}

//CUSTOMIZE ICONS
.inst{
  width: 31px;
  height: 31px;
  display: inline-block;
  background-color: @yellow;
  padding-top: 8px;
  padding-left: 8px;
  &:extend(.trall);
  &:before{
    content: '';
    display: inline-block;
    &:extend(.svg-sprite--inst);
  }
  &:hover{
    background-color: @yellow-dark;
  }
}
.vk{
  width: 31px;
  height: 31px;
  display: inline-block;
  background-color: #3f7fac;
  padding-top: 9px;
  padding-left: 8px;
  &:extend(.trall);
  &:before{
    content: '';
    display: inline-block;
    &:extend(.svg-sprite--vk);
  }
  &:hover{
    background-color: #2b638a;
  }
}
.fb{
  width: 31px;
  height: 31px;
  display: inline-block;
  background-color: #13527e;
  padding-top: 7px;
  padding-left: 11px;
  &:extend(.trall);
  &:before{
    content: '';
    display: inline-block;
    &:extend(.svg-sprite--fb);
    width: 9px;
  }
  &:hover{
    background-color: #093758;
  }
}
.twi{
  width: 31px;
  height: 31px;
  display: inline-block;
  background-color: #29cfe8;
  padding-top: 8px;
  padding-left: 8px;
  &:extend(.trall);
  &:before{
    content: '';
    display: inline-block;
    &:extend(.svg-sprite--twi);
  }
  &:hover{
    background-color: #16b6ce;
  }
}
.youtube{
  width: 31px;
  height: 31px;
  display: inline-block;
  background-color: #b71206;
  padding-top: 6px;
  padding-left: 8px;
  &:extend(.trall);
  &:before{
    content: '';
    display: inline-block;
    &:extend(.svg-sprite--youtube);
  }
  &:hover{
    background-color: #910b01;
  }
}

.col-md-11{
  @media screen and (max-width: @mobile){
    padding: 0;
  }
}
.background{
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  // width: ~"calc(100% + 20px)";
  width: 100%;
  height: 100%;
  // overflow-x: hidden;
  // overflow-y: visible;
  @media screen and (max-width: @mobile){
    display: none;
  }
  div{
    position: absolute;
    // overflow-x: hidden;
  }
  .png-sprite--appolon{
    top: -200px;
    right: 0;
    opacity: 0.3;
  }
  .png-sprite--capitel{
    bottom: 0;
    right: 0;
    opacity: 0.3;
  }
  .svg-sprite--bg1{
    left: -100px;
    top: 350px;
  }
  .svg-sprite--bg3{
    left: -50px;
    top: 600px;
  }
  .svg-sprite--bg2{
    right: -180px;
    top: -100px;
  }
  .svg-sprite--bg4{
    bottom: 0;
    right: -100px;
  }
  .svg-sprite--bg5{
    bottom: 0;
    right: 0;
  }
}
