.svg-sprite--bg4 {
    background-image: url("../img/sprites/svg/svg-sprite.svg");
    background-position: -2px -2px;
    width: 385px;
    height: 385px;
    background-repeat: no-repeat;
    background-size: 797px 694px;
    .no-svg & {
        background-image: url("../img/sprites/svg/svg-sprite.png");
    }
}
.svg-sprite--bg1 {
    background-image: url("../img/sprites/svg/svg-sprite.svg");
    background-position: -389px -2px;
    width: 337px;
    height: 337px;
    background-repeat: no-repeat;
    background-size: 797px 694px;
    .no-svg & {
        background-image: url("../img/sprites/svg/svg-sprite.png");
    }
}
.svg-sprite--bg2 {
    background-image: url("../img/sprites/svg/svg-sprite.svg");
    background-position: -2px -389px;
    width: 303px;
    height: 303px;
    background-repeat: no-repeat;
    background-size: 797px 694px;
    .no-svg & {
        background-image: url("../img/sprites/svg/svg-sprite.png");
    }
}
.svg-sprite--bg3 {
    background-image: url("../img/sprites/svg/svg-sprite.svg");
    background-position: -307px -389px;
    width: 199px;
    height: 220px;
    background-repeat: no-repeat;
    background-size: 797px 694px;
    .no-svg & {
        background-image: url("../img/sprites/svg/svg-sprite.png");
    }
}
.svg-sprite--bg5 {
    background-image: url("../img/sprites/svg/svg-sprite.svg");
    background-position: -508px -389px;
    width: 145px;
    height: 170px;
    background-repeat: no-repeat;
    background-size: 797px 694px;
    .no-svg & {
        background-image: url("../img/sprites/svg/svg-sprite.png");
    }
}
.svg-sprite--logo-white {
    background-image: url("../img/sprites/svg/svg-sprite.svg");
    background-position: -655px -389px;
    width: 57px;
    height: 120px;
    background-repeat: no-repeat;
    background-size: 797px 694px;
    .no-svg & {
        background-image: url("../img/sprites/svg/svg-sprite.png");
    }
}
.svg-sprite--logos-footer {
    background-image: url("../img/sprites/svg/svg-sprite.svg");
    background-position: -728px -2px;
    width: 68px;
    height: 119px;
    background-repeat: no-repeat;
    background-size: 797px 694px;
    .no-svg & {
        background-image: url("../img/sprites/svg/svg-sprite.png");
    }
}
.svg-sprite--logo {
    background-image: url("../img/sprites/svg/svg-sprite.svg");
    background-position: -728px -123px;
    width: 68px;
    height: 119px;
    background-repeat: no-repeat;
    background-size: 797px 694px;
    .no-svg & {
        background-image: url("../img/sprites/svg/svg-sprite.png");
    }
}
.svg-sprite--symbols-07 {
    background-image: url("../img/sprites/svg/svg-sprite.svg");
    background-position: -728px -244px;
    width: 32px;
    height: 52px;
    background-repeat: no-repeat;
    background-size: 797px 694px;
    .no-svg & {
        background-image: url("../img/sprites/svg/svg-sprite.png");
    }
}
.svg-sprite--symbols-08 {
    background-image: url("../img/sprites/svg/svg-sprite.svg");
    background-position: -728px -298px;
    width: 47px;
    height: 51px;
    background-repeat: no-repeat;
    background-size: 797px 694px;
    .no-svg & {
        background-image: url("../img/sprites/svg/svg-sprite.png");
    }
}
.svg-sprite--symbols-06 {
    background-image: url("../img/sprites/svg/svg-sprite.svg");
    background-position: -761px -244px;
    width: 32px;
    height: 49px;
    background-repeat: no-repeat;
    background-size: 797px 694px;
    .no-svg & {
        background-image: url("../img/sprites/svg/svg-sprite.png");
    }
}
.svg-sprite--symbols-05 {
    background-image: url("../img/sprites/svg/svg-sprite.svg");
    background-position: -728px -350px;
    width: 45px;
    height: 39px;
    background-repeat: no-repeat;
    background-size: 797px 694px;
    .no-svg & {
        background-image: url("../img/sprites/svg/svg-sprite.png");
    }
}
.svg-sprite--symbols-04 {
    background-image: url("../img/sprites/svg/svg-sprite.svg");
    background-position: -728px -391px;
    width: 42px;
    height: 43px;
    background-repeat: no-repeat;
    background-size: 797px 694px;
    .no-svg & {
        background-image: url("../img/sprites/svg/svg-sprite.png");
    }
}
.svg-sprite--symbols-10 {
    background-image: url("../img/sprites/svg/svg-sprite.svg");
    background-position: -728px -435px;
    width: 40px;
    height: 40px;
    background-repeat: no-repeat;
    background-size: 797px 694px;
    .no-svg & {
        background-image: url("../img/sprites/svg/svg-sprite.png");
    }
}
.svg-sprite--symbols-01 {
    background-image: url("../img/sprites/svg/svg-sprite.svg");
    background-position: -728px -477px;
    width: 40px;
    height: 40px;
    background-repeat: no-repeat;
    background-size: 797px 694px;
    .no-svg & {
        background-image: url("../img/sprites/svg/svg-sprite.png");
    }
}
.svg-sprite--symbols-09 {
    background-image: url("../img/sprites/svg/svg-sprite.svg");
    background-position: -728px -519px;
    width: 39px;
    height: 39px;
    background-repeat: no-repeat;
    background-size: 797px 694px;
    .no-svg & {
        background-image: url("../img/sprites/svg/svg-sprite.png");
    }
}
.svg-sprite--arrow {
    background-image: url("../img/sprites/svg/svg-sprite.svg");
    background-position: -776px -298px;
    width: 14px;
    height: 36px;
    background-repeat: no-repeat;
    background-size: 797px 694px;
    .no-svg & {
        background-image: url("../img/sprites/svg/svg-sprite.png");
    }
}
.svg-sprite--symbols-03 {
    background-image: url("../img/sprites/svg/svg-sprite.svg");
    background-position: -768px -519px;
    width: 26px;
    height: 32px;
    background-repeat: no-repeat;
    background-size: 797px 694px;
    .no-svg & {
        background-image: url("../img/sprites/svg/svg-sprite.png");
    }
}
.svg-sprite--symbols-02 {
    background-image: url("../img/sprites/svg/svg-sprite.svg");
    background-position: -769px -477px;
    width: 26px;
    height: 26px;
    background-repeat: no-repeat;
    background-size: 797px 694px;
    .no-svg & {
        background-image: url("../img/sprites/svg/svg-sprite.png");
    }
}
.svg-sprite--youtube {
    background-image: url("../img/sprites/svg/svg-sprite.svg");
    background-position: -774px -350px;
    width: 16px;
    height: 19px;
    background-repeat: no-repeat;
    background-size: 797px 694px;
    .no-svg & {
        background-image: url("../img/sprites/svg/svg-sprite.png");
    }
}
.svg-sprite--twi {
    background-image: url("../img/sprites/svg/svg-sprite.svg");
    background-position: -774px -371px;
    width: 18px;
    height: 14px;
    background-repeat: no-repeat;
    background-size: 797px 694px;
    .no-svg & {
        background-image: url("../img/sprites/svg/svg-sprite.png");
    }
}
.svg-sprite--vk {
    background-image: url("../img/sprites/svg/svg-sprite.svg");
    background-position: -776px -336px;
    width: 18px;
    height: 10px;
    background-repeat: no-repeat;
    background-size: 797px 694px;
    .no-svg & {
        background-image: url("../img/sprites/svg/svg-sprite.png");
    }
}
.svg-sprite--fb {
    background-image: url("../img/sprites/svg/svg-sprite.svg");
    background-position: -771px -391px;
    width: 10px;
    height: 18px;
    background-repeat: no-repeat;
    background-size: 797px 694px;
    .no-svg & {
        background-image: url("../img/sprites/svg/svg-sprite.png");
    }
}
.svg-sprite--inst {
    background-image: url("../img/sprites/svg/svg-sprite.svg");
    background-position: -771px -410px;
    width: 17px;
    height: 17px;
    background-repeat: no-repeat;
    background-size: 797px 694px;
    .no-svg & {
        background-image: url("../img/sprites/svg/svg-sprite.png");
    }
}

