.svg-sprite--bg4 {
    background-image: url("../img/sprites/svg/svg-sprite.svg");
    background-position: -1px -1px;
    width: 385px;
    height: 385px;
    background-repeat: no-repeat;
    background-size: 793px 691px;
    .no-svg & {
        background-image: url("../img/sprites/svg/svg-sprite.png");
    }
}
.svg-sprite--bg1 {
    background-image: url("../img/sprites/svg/svg-sprite.svg");
    background-position: -387px -1px;
    width: 337px;
    height: 337px;
    background-repeat: no-repeat;
    background-size: 793px 691px;
    .no-svg & {
        background-image: url("../img/sprites/svg/svg-sprite.png");
    }
}
.svg-sprite--bg2 {
    background-image: url("../img/sprites/svg/svg-sprite.svg");
    background-position: -1px -387px;
    width: 303px;
    height: 303px;
    background-repeat: no-repeat;
    background-size: 793px 691px;
    .no-svg & {
        background-image: url("../img/sprites/svg/svg-sprite.png");
    }
}
.svg-sprite--bg3 {
    background-image: url("../img/sprites/svg/svg-sprite.svg");
    background-position: -305px -387px;
    width: 199px;
    height: 220px;
    background-repeat: no-repeat;
    background-size: 793px 691px;
    .no-svg & {
        background-image: url("../img/sprites/svg/svg-sprite.png");
    }
}
.svg-sprite--bg5 {
    background-image: url("../img/sprites/svg/svg-sprite.svg");
    background-position: -505px -387px;
    width: 145px;
    height: 170px;
    background-repeat: no-repeat;
    background-size: 793px 691px;
    .no-svg & {
        background-image: url("../img/sprites/svg/svg-sprite.png");
    }
}
.svg-sprite--logo-white {
    background-image: url("../img/sprites/svg/svg-sprite.svg");
    background-position: -651px -387px;
    width: 57px;
    height: 120px;
    background-repeat: no-repeat;
    background-size: 793px 691px;
    .no-svg & {
        background-image: url("../img/sprites/svg/svg-sprite.png");
    }
}
.svg-sprite--logos-footer {
    background-image: url("../img/sprites/svg/svg-sprite.svg");
    background-position: -725px -1px;
    width: 68px;
    height: 119px;
    background-repeat: no-repeat;
    background-size: 793px 691px;
    .no-svg & {
        background-image: url("../img/sprites/svg/svg-sprite.png");
    }
}
.svg-sprite--logo {
    background-image: url("../img/sprites/svg/svg-sprite.svg");
    background-position: -725px -121px;
    width: 68px;
    height: 119px;
    background-repeat: no-repeat;
    background-size: 793px 691px;
    .no-svg & {
        background-image: url("../img/sprites/svg/svg-sprite.png");
    }
}
.svg-sprite--symbols-07 {
    background-image: url("../img/sprites/svg/svg-sprite.svg");
    background-position: -725px -241px;
    width: 32px;
    height: 52px;
    background-repeat: no-repeat;
    background-size: 793px 691px;
    .no-svg & {
        background-image: url("../img/sprites/svg/svg-sprite.png");
    }
}
.svg-sprite--symbols-08 {
    background-image: url("../img/sprites/svg/svg-sprite.svg");
    background-position: -725px -294px;
    width: 47px;
    height: 51px;
    background-repeat: no-repeat;
    background-size: 793px 691px;
    .no-svg & {
        background-image: url("../img/sprites/svg/svg-sprite.png");
    }
}
.svg-sprite--symbols-06 {
    background-image: url("../img/sprites/svg/svg-sprite.svg");
    background-position: -757px -241px;
    width: 32px;
    height: 49px;
    background-repeat: no-repeat;
    background-size: 793px 691px;
    .no-svg & {
        background-image: url("../img/sprites/svg/svg-sprite.png");
    }
}
.svg-sprite--symbols-05 {
    background-image: url("../img/sprites/svg/svg-sprite.svg");
    background-position: -725px -345px;
    width: 45px;
    height: 39px;
    background-repeat: no-repeat;
    background-size: 793px 691px;
    .no-svg & {
        background-image: url("../img/sprites/svg/svg-sprite.png");
    }
}
.svg-sprite--symbols-04 {
    background-image: url("../img/sprites/svg/svg-sprite.svg");
    background-position: -725px -385px;
    width: 42px;
    height: 43px;
    background-repeat: no-repeat;
    background-size: 793px 691px;
    .no-svg & {
        background-image: url("../img/sprites/svg/svg-sprite.png");
    }
}
.svg-sprite--symbols-10 {
    background-image: url("../img/sprites/svg/svg-sprite.svg");
    background-position: -725px -428px;
    width: 40px;
    height: 40px;
    background-repeat: no-repeat;
    background-size: 793px 691px;
    .no-svg & {
        background-image: url("../img/sprites/svg/svg-sprite.png");
    }
}
.svg-sprite--symbols-01 {
    background-image: url("../img/sprites/svg/svg-sprite.svg");
    background-position: -725px -469px;
    width: 40px;
    height: 40px;
    background-repeat: no-repeat;
    background-size: 793px 691px;
    .no-svg & {
        background-image: url("../img/sprites/svg/svg-sprite.png");
    }
}
.svg-sprite--symbols-09 {
    background-image: url("../img/sprites/svg/svg-sprite.svg");
    background-position: -725px -510px;
    width: 39px;
    height: 39px;
    background-repeat: no-repeat;
    background-size: 793px 691px;
    .no-svg & {
        background-image: url("../img/sprites/svg/svg-sprite.png");
    }
}
.svg-sprite--arrow {
    background-image: url("../img/sprites/svg/svg-sprite.svg");
    background-position: -772px -294px;
    width: 14px;
    height: 36px;
    background-repeat: no-repeat;
    background-size: 793px 691px;
    .no-svg & {
        background-image: url("../img/sprites/svg/svg-sprite.png");
    }
}
.svg-sprite--symbols-03 {
    background-image: url("../img/sprites/svg/svg-sprite.svg");
    background-position: -766px -428px;
    width: 26px;
    height: 32px;
    background-repeat: no-repeat;
    background-size: 793px 691px;
    .no-svg & {
        background-image: url("../img/sprites/svg/svg-sprite.png");
    }
}
.svg-sprite--symbols-02 {
    background-image: url("../img/sprites/svg/svg-sprite.svg");
    background-position: -765px -469px;
    width: 26px;
    height: 26px;
    background-repeat: no-repeat;
    background-size: 793px 691px;
    .no-svg & {
        background-image: url("../img/sprites/svg/svg-sprite.png");
    }
}
.svg-sprite--youtube {
    background-image: url("../img/sprites/svg/svg-sprite.svg");
    background-position: -770px -345px;
    width: 16px;
    height: 19px;
    background-repeat: no-repeat;
    background-size: 793px 691px;
    .no-svg & {
        background-image: url("../img/sprites/svg/svg-sprite.png");
    }
}
.svg-sprite--twi {
    background-image: url("../img/sprites/svg/svg-sprite.svg");
    background-position: -770px -365px;
    width: 18px;
    height: 14px;
    background-repeat: no-repeat;
    background-size: 793px 691px;
    .no-svg & {
        background-image: url("../img/sprites/svg/svg-sprite.png");
    }
}
.svg-sprite--vk {
    background-image: url("../img/sprites/svg/svg-sprite.svg");
    background-position: -772px -331px;
    width: 18px;
    height: 10px;
    background-repeat: no-repeat;
    background-size: 793px 691px;
    .no-svg & {
        background-image: url("../img/sprites/svg/svg-sprite.png");
    }
}
.svg-sprite--fb {
    background-image: url("../img/sprites/svg/svg-sprite.svg");
    background-position: -767px -385px;
    width: 10px;
    height: 18px;
    background-repeat: no-repeat;
    background-size: 793px 691px;
    .no-svg & {
        background-image: url("../img/sprites/svg/svg-sprite.png");
    }
}
.svg-sprite--inst {
    background-image: url("../img/sprites/svg/svg-sprite.svg");
    background-position: -767px -403px;
    width: 17px;
    height: 17px;
    background-repeat: no-repeat;
    background-size: 793px 691px;
    .no-svg & {
        background-image: url("../img/sprites/svg/svg-sprite.png");
    }
}

